<div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="/assets/images/swiggy.jpeg" alt="Logo" class="d-inline-block align-text-top w-50 h-25">
            </a>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <!-- Empty div to push login and cart to the right -->
                <div></div>
                <!-- Login and cart -->
                <div class="d-flex">
                    <img src="/assets/images/signin.png"  alt="login logo" width="20px" height="30px">&nbsp;&nbsp;
                    <a href="#" class="nav-item nav-link">Login</a>&nbsp;&nbsp;&nbsp;
                    <img src="/assets/images/food-cart-icon.png" alt="food cart logo" width="20px" height="22px">&nbsp;&nbsp;
                    <a href="#" class="nav-item nav-link">Cart</a>
                </div>
            </div>
        </div>
    </nav>
    </div>
    
    