
<div container>
    <h2>Top Restaurants in Coimbatore</h2>
</div>
<section class="gallery">
    <div class="container-lg">
        <div class="row gy-2 row-cols-sm-1  row-cols-sm-2  row-cols-sm-3 row-cols-sm-4">
            <!--pizza-->
            <div class="col">
                <div class="card">
                    <img src="/assets/images/pizza.png" class="card-img-top custom-image" alt="pizza">
                    <div class="card-body">
                        <h6 class="card-title">
                            <!--router-->
                            <!-- Link to navigate to the pizza component -->
                            <a routerLink="/pizza">Pizza</a>
                        </h6>
                    </div>

                </div>
               

            </div>
           
            <!--BBQ-->
            <div class="col">
                <div class="card">
                    <img src="/assets/images/bbq.jpg" class="card-img-top custom-image" alt="pizza">
                    <div class="card-body">
                        <h6 class="card-title"> 
                            <!-- Link to navigate to the bbq component -->
                            <a routerLink="/bbq">Barbequenation</a></h6>
                    </div>

                </div>
            </div>
            <!--Desserts-->
            <div class="col">
                <div class="card">
                    <img src="/assets/images/desserts.jpeg" class="card-img-top custom-image" alt="pizza">
                    <div class="card-body">
                        <h6 class="card-title">
                             <!-- Link to navigate to the dessert component -->
                             <a routerLink="/dessert">Desserts</a></h6>
                    </div>

                </div>

            </div>
            <!--Anna poorna-->
            <div class="col">
                <div class="card">
                    <img src="/assets/images/Annapoorna.jpg" class="card-img-top custom-image" alt="pizza">
                    <div class="card-body">
                        <h6 class="card-title">
                            <!-- Link to navigate to the annapoorna component -->
                            <a routerLink="/annapoorna">Annapoorna</a>
                        </h6>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>